<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Include -->
  <?include ..\..\Common\InstallerGUID.wxi?>
  <?include ..\..\Common\Manufacturer.wxi?>
  <?include ..\..\Common\ResourceFiles.wxi?>
  <?include ..\Version\InstallerInfo.wxi?>

  <!-- Product Information -->
  <?define ProductName="$(var.JBIGView_ProductName)"?>
  <?define ProductComment="$(var.JBIGView_ProductComment)"?>
  <?define ProductFolderName="$(var.JBIGView_ProductFolderName)"?>
  <?define NickName="$(var.JBIGView_NickName)"?>  <!-- not used -->

  <!-- GUID -->
  <?define GUID_Product="$(var.GUID_JBIGView_Product)"?>
  <?define GUID_UpgradeCode="$(var.GUID_JBIGView_UpgradeCode)"?>
  <?define GUID_ProductComponent="$(var.GUID_JBIGView_ProductComponent)"?>
  <?define GUID_ProductComponent_JbigToBitmap="$(var.GUID_JBIGView_ProductComponent_JbigToBitmap)"?>
  <?define GUID_ProductComponent_BUILDLet_Library="$(var.GUID_JBIGView_ProductComponent_BUILDLet_Library)"?>
  <?define GUID_ProductComponent_Redist_JbigKit="$(var.GUID_JBIGView_ProductComponent_Redist_JbigKit)"?>
  <?define GUID_ProductComponent_Redist_NetPbm="$(var.GUID_JBIGView_ProductComponent_Redist_NetPbm)"?>
  <?define GUID_Documents="$(var.GUID_JBIGView_Documents)"?>
  <?define GUID_Configuration="$(var.GUID_JBIGView_Configuration)"?>  <!-- Not used for Version 1.0.0 -->
  <?define GUID_ProgramMenu="$(var.GUID_JBIGView_ProgramMenu)"?>
  
  <!-- [Version 1.1.1.0] for Backword Compatibility (to remove Desktop Shortcut File) -->
  <?define GUID_OldProductComponent1="$(var.GUID_JBIGView_OldProductComponent1)"?>
  <?define OldDesktopShortcutFileName1="BUILDLet JBIG Image Viewer.lnk"?>

  <!-- [Version 1.2.2.0] for Backword Compatibility (to remove Desktop Shortcut File) -->
  <?define GUID_OldProductComponent2="$(var.GUID_JBIGView_OldProductComponent2)"?>
  <?define OldDesktopShortcutFileName2="JBIG Viewer.lnk"?>

  <!-- Source Files (Common) -->
  <?define Source_ReadmeFile="$(var.Resource_ReadmeFile_JBIGView)"?>
  <?define Source_LicenseFile="$(var.Resource_LicenseFile_TXT)"?>

  <!-- Source Files (Common: Redist) -->
  <?define Source_Redist_JbigKit_LicenseFile="$(var.Resource_LicenseFile_Redist_JbigKit)"?>
  <?define Source_Redist_NetPbm_LicenseFile="$(var.Resource_LicenseFile_Redist_NetPbm)"?>

  <!-- Source Files (from other project) -->
  <?define Source_IconFile="..\BUILDLet.JbigViewer\Resources\BUILDLet_JbigViewer.ico"?>

  <!-- Ssource Files -->
  <?define Source_ProductComponent_JBIGView_EXE="$(var.Resource_JBIGView_EXE)"?>
  <?define Source_ProductComponent_JBIGView_DLL="$(var.Resource_JBIGView_DLL)"?>
  <?define Source_ProductComponent_BUILDLet_DLL1="$(var.Resource_BUILDLet_DLL1)"?>
  <?define Source_ProductComponent_BUILDLet_DLL2="$(var.Resource_BUILDLet_DLL2)"?>
  <?define Source_ProductComponent_Redist_JbigKit_EXE1="$(var.Resource_Redist_JbigKit_EXE1)"?>
  <?define Source_ProductComponent_Redist_JbigKit_DLL1="$(var.Resource_Redist_JbigKit_DLL1)"?>
  <?define Source_ProductComponent_Redist_NetPbm_EXE1="$(var.Resource_Redist_NetPbm_EXE1)"?>
  <?define Source_ProductComponent_Redist_NetPbm_DLL1="$(var.Resource_Redist_NetPbm_DLL1)"?>


  <!-- Icon File Name -->
  <?define IconFileName="JBIGView.ico"?>


  <!-- Product -->
  <Product Id="$(var.GUID_Product)"
           UpgradeCode="$(var.GUID_UpgradeCode)"
           Manufacturer="$(var.Manufacturer)"
           Name="$(var.ProductName) $(var.Version)"
           Version="$(var.Version)"
           Language="1041" Codepage="932">

    <Package Id="*"
             Description="$(var.ProductName) $(var.Version) Installer"
             Comments="$(var.ProductComment)"
             Manufacturer="$(var.Manufacturer)"
             InstallerVersion="200"
             Compressed="yes"
             Languages="1041" SummaryCodepage="932"
             InstallScope="perMachine" />


    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate CabinetTemplate="data{0}.cab" EmbedCab="yes" />


    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <!--
      <ComponentGroupRef Id="ConfigComponents" />
      -->
      <ComponentGroupRef Id="ProgramMenuComponents" />
    </Feature>

  </Product>



  <!-- Directories -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Program Files Folder -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProductFolder" Name="$(var.ProductFolderName)">
          <Directory Id="INSTALLDIR" />
        </Directory>
      </Directory>


      <!-- Program Menu Folder -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductFolderName)" />
      </Directory>


      <!-- Desktop Folder -->
      <Directory Id="DesktopFolder" Name="Desktop" />


      <!-- Configuration Folder (AppData\Local) (for deletion) -->
      <!--
      <Directory Id="LocalAppDataFolder">
        <Directory Id="ManufacturerConfigDir" Name="$(var.Manufacturer)" />
      </Directory>
      -->

    </Directory>
  </Fragment>


  <!-- Icon -->
  <Fragment>
    <Icon Id="$(var.IconFileName)" SourceFile="$(var.Source_IconFile)" />
  </Fragment>


  <!-- Components -->
  <Fragment>

    <!-- Install Folder (Program Files Folder) -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">

      <!-- JbigView.exe -->
      <Component Id="ProductComponent.exe" Guid="$(var.GUID_ProductComponent)">
        <File Id="ProductComponent.exe" Source="$(var.Source_ProductComponent_JBIGView_EXE)" KeyPath="yes">

          <!-- Desktop Shortcut -->
          <Shortcut Id="DesktopShortcut" 
                    Name="$(var.NickName)" 
                    Description="$(var.ProductName) $(var.Version)"
                    Directory="DesktopFolder" 
                    WorkingDirectory="INSTALLDIR"
                    Icon="$(var.IconFileName)"
                    Advertise="yes" />

          <!-- Program Menu Shortcut -->
          <Shortcut Id="ProgramMenuShortcut"
                    Name="$(var.ProductName)"
                    Description="$(var.ProductName) $(var.Version)"
                    Directory="ProgramMenuDir"
                    WorkingDirectory="INSTALLDIR"
                    Icon="$(var.IconFileName)"
                    Advertise="yes" />

        </File>
      </Component>

      
      <!-- BUILDLet.JbigToBitmap.dll -->
      <Component Id="JbigToBitmap" Guid="$(var.GUID_ProductComponent_JbigToBitmap)" KeyPath="yes">
        <File Source="$(var.Source_ProductComponent_JBIGView_DLL)" />
      </Component>


      <!-- Library (BUILDLet.Utilities) -->
      <Component Id="Library" Guid="$(var.GUID_ProductComponent_BUILDLet_Library)" KeyPath="yes">
        <File Source="$(var.Source_ProductComponent_BUILDLet_DLL1)" />
        <File Source="$(var.Source_ProductComponent_BUILDLet_DLL2)" />
      </Component>


      <!-- Redist (Jbigkit for Windows) -->
      <Component Id="Redist_JbigKit" Guid="$(var.GUID_ProductComponent_Redist_JbigKit)" KeyPath="yes">
        <File Source="$(var.Source_ProductComponent_Redist_JbigKit_EXE1)" />
        <File Source="$(var.Source_ProductComponent_Redist_JbigKit_DLL1)" />
        <File Source="$(var.Source_Redist_JbigKit_LicenseFile)" />
      </Component>


      <!-- Redist (NetPbm for Windows) -->
      <Component Id="Redist_NetPbm" Guid="$(var.GUID_ProductComponent_Redist_NetPbm)" KeyPath="yes">
        <File Source="$(var.Source_ProductComponent_Redist_NetPbm_EXE1)" />
        <File Source="$(var.Source_ProductComponent_Redist_NetPbm_DLL1)" />
        <File Source="$(var.Source_Redist_NetPbm_LicenseFile)" />
      </Component>


      <!-- Documents for WOL (Readme and License) -->
      <Component Id="Documents" Guid="$(var.GUID_Documents)" KeyPath="yes">
        <File Source="$(var.Source_ReadmeFile)" />
        <File Source="$(var.Source_LicenseFile)" />
      </Component>

      
      <!-- Old Desktop Shortcut File 1 ("BUILDLet JBIG Image Viewer") to be deleted -->
      <Component Id="OldDesktopShortcutFile1" Guid="$(var.GUID_OldProductComponent1)" KeyPath="yes">
        <RemoveFile Id="OldDesktopShortcutFile1" On="both" Name="$(var.OldDesktopShortcutFileName1)" Directory="DesktopFolder" />
      </Component>

      <!-- Old Desktop Shortcut File 2 ("JBIG Viewer") to be deleted -->
      <Component Id="OldDesktopShortcutFile2" Guid="$(var.GUID_OldProductComponent2)" KeyPath="yes">
        <RemoveFile Id="OldDesktopShortcutFile2" On="both" Name="$(var.OldDesktopShortcutFileName2)" Directory="DesktopFolder" />
      </Component>

    </ComponentGroup>

    
    <!-- Configuration Components -->
    <!-- Configuration Directory (to be deleted) -->
    <!--
    <ComponentGroup Id="ConfigComponents" Directory='ManufacturerConfigDir'>
      <Component Id="Configuration" Guid="$(var.GUID_Configuration)">
        <RegistryValue Root="HKCU" Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        <RemoveFolder Id="ManufacturerConfigDir" On="uninstall" />
      </Component>
    </ComponentGroup>
    -->


    <!-- Start Menu (Program Menu Folder) -->
    <ComponentGroup Id="ProgramMenuComponents" Directory="ProgramMenuDir">

      <!-- Program Menu Folder (to be removed) & Registry -->
      <Component Id="ProgramMenuComponent" Guid="$(var.GUID_ProgramMenu)">
        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Name='installed' Type='integer' Value='1' KeyPath='yes' />
      </Component>

    </ComponentGroup>
  </Fragment>

</Wix>
